/*
god
*/
INSERT INTO ${model.entity.name}
#set($i=0)
#foreach($attribute in $model.attributes)
#if($i == 0)
	( ${attribute.name}
#elseif($i < ($model.attributes.size() - 1))
	, ${attribute.name}
#else
	, ${attribute.name})
#end
#set($i=$i+1)
#end
##
#set($i=0)
#foreach($attribute in $model.attributes)
#if($i == 0)
VALUES ( #${attribute.ccName}#
#elseif($i < ($model.attributes.size() - 1))
	, '#${attribute.ccName}#'
#else
	, '#${attribute.ccName}#')
#end
#set($i=$i+1)
#end
