SELECT
#set($i=0)	
#foreach($attribute in $model.attributes)
#if($i == 0)
	${attribute.name}
#else
	, ${attribute.name}
#end
#set($i=$i+1)
#end	
FROM ${model.entity.name}
#if(!${model.primaryKeys} == [])
                WHERE ${model.attributes.get(0).name}=#${model.attributes.get(0).ccName}#
#else 
	#set($i=0)	
	#foreach($attribute in $model.primaryKeys)
	#if($i == 0)
	WHERE ${attribute.name}=#${attribute.ccName}#
	#else
		AND ${attribute.name}=#${attribute.ccName}#
	#end
	#set($i=$i+1)
	#end
#end
